<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="body">
        <nav class="bg-blue-600 text-white p-4 flex justify-between">
            <div>
                <a href="/tarefas" class="mr-4">Tarefas</a>
                <a href="/pomodoro" class="mr-4">Pomodoro</a>
                <a href="/historico" class="mr-4">Histórico</a>
                <span th:if="${usuario != null}">
                    <a th:href="@{'/usuarios/editar/' + ${usuario.id}}" th:text="${usuario.email}">Perfil</a>
                </span>
                <span th:if="${usuario == null}" class="text-gray-500 italic">
                    Carregando...
                </span>

            </div>
            <form method="post" action="/logout" th:object="${#httpServletRequest}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <button type="submit" class="ml-4">Sair</button>
            </form>
        </nav>
    </div>
</body>
</html>
